/* scrollbar */
::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a; /* bg-slate-900 */
}

::-webkit-scrollbar-thumb {
    background: #334155; /* bg-slate-700 */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569; /* bg-slate-600 */
}

body {
    font-family: 'Montserrat', sans-serif, serif;
}

/* fade-in animation */
.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}